<!DOCTYPE html>
<html lang=“ja”>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>kadai3</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
    <%# ここにasync-awaitのapi関数を定義して非同期処理中に「ようこそ」以下を表示させたい （無理）%>
    <%# 
    async function apiWait(){
        return await api; 
    } 
    %>
    <div id="async">
        <h1 id="title">ようこそ</h1>
        <div id="category">
            <p id="cate"></p>
            <p id="diff"></p>
        </div>
        <hr>
        <p id="p">以下のボタンをクリック</p>
        <hr>
        <button id="btn" name="btn">開始</button>
        <div id="answers"></div>
    </div>
    
    <%# if (json) { %>
    <div id="question">
        <% for (let i=0;i<=9;i++){ %>
            <div class="json">
                <hi id="title">問題<%= i+1 %></hi>
                <div id="category">
                    <p id="cate"><%= json[i]['category'] %></p>
                    <p id="diff"><%= json[i]['difficulty'] %></p>
                </div>

                <hr>
                <p id="p"><%= json[i]['question'] %></p>
                <hr>
                <button id="btn" name="btn">開始</button>
                <div id="answers">
                    <%# 回答選択肢を作成 %>
                    <%
                    json[i]['candidateAns'].push(json[i]['correctAns']); 
                    const ans = json[i]['candidateAns'];
                    %>
                    <%# 回答選択肢をランダムにするshuffle関数を定義 %>
                    <%
                    const shuffle = (array) => {
                        for (let c=0;c<5;c++){
                            for (let i = array.length - 1; i >= 0; i--) {
                            const j = Math.floor(Math.random() * (i + 1));
                            [array[i], array[j]] = [array[j], array[i]];
                            }
                        }
                        return array;
                        }       
                    %>
                    
                    <%# shuffle関数実行 %>
                    <% shuffle(ans) %>
                    <% const ansLength = ans.length %>
                    <% for (let j=0; j<=ansLength-1;j++){%>
                        <button id="answer-<%= j %>" class="answers"><%= ans[j] %></button>
                    <% } %>
                </div>
            </div>
        <% } %>
    </div>
    <%# } %>
</body>
<!-- <script src="javascripts/script.js"></script> -->
<script type="text/javascript">
const question = document.getElementById('question');
const btn = document.getElementById('btn');
const title = document.getElementById('title');
const p = document.getElementById('p');
const category = document.getElementById('category');
const cate = document.getElementById('cate');
const diff = document.getElementById('diff');
const answers = document.getElementById('answers');
const json = document.getElementsByClassName('json');
const btnTo = document.getElementsByClassName('answers');
const btnToResult = Array.from(btnTo);
const corrAnsString = "<%= corrAnsArray %>";
const corrAnsArray = corrAnsString.split(',');
const asyncAwait = document.getElementById('async');

question.style.display = 'none';

btn.addEventListener('click', ()=>{
    title.innerText = '取得中';
    p.innerText = '少々お待ち下さい';
    btn.style.display = 'none';
    cate.innerText = '';
    apiWait();
    btnAction();
});


function btnAction(){
    for(let j=1;j<json.length;j++){
        json[j].style.display= 'none';
    };
    let i = 0; //questionの回数'0は除外'
    let corAnsC = 0;
    btnToResult.forEach(ele => {
        ele.style.display = 'block';
        ele.style.backgroundColor = 'yellow';
        ele.onclick = ()=>{
            console.log('i:'+parseInt(i));
            console.log('correct!!:'+corrAnsArray[i]);
                
            if (i <= 9) {                
                if (ele.innerText===corrAnsArray[i]){                        
                    corAnsC++;
                }
                                
                console.log('corAnsC:'+corAnsC);
                console.log('合ってる？::'+ele.innerText +'==='+ corrAnsArray[i])
                for(let j=0;j<json.length;j++){
                    json[j].style.display = 'none';
                };
                if (i == 9){ 
                    asyncAwait.style.display = 'block';
                    answers.style.display = 'none';
                    btn.style.display = 'block';
                    diff.innerText = '';
                    cate.innerText = `あなたの正解数は${corAnsC}です`;
                    p.innerText = '再度チャレンジしたい場合は下をクリック';                            
                    ele.style.display = 'block';
                } else if (i < 9){            
                json[i+1].style.display= 'block'; 
                    i++;
                };                                         
            };
        };       
    });
};   
//答え候補をシャッフル
const shuffle = ([...array]) => {
    for (let c=0;c<5;c++){
        for (let i = array.length - 1; i >= 0; i--) {
        const j = Math.floor(Math.random() * (i + 1));
        [array[i], array[j]] = [array[j], array[i]];
        }
    }
    return array;
} 

const apiWait = async () => {
    const res = await fetch('/newapi');
    console.log('res::'+ res);
    const json = await res.json();
    console.log('JSON:::'+json);
    
    asyncAwait.style.display = 'none';
    question.style.display = 'block';
  }
</script>
</html>